# Node.js
node_modules/
npm-debug.log
.env
.DS_Store
*.log

# Build artifacts
dist/
build/
coverage/

# IDE specific files
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Other temporary files
tmp/
/generated/prisma

/generated/prisma

/src/generated/prisma
